/*
 * Copyright (c) 2013-2019, Centre for Genomic Regulation (CRG).
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
 

profiles {

  standard {
    process {
      withName: 'index|quant' { container = 'combinelab/salmon:0.13.1' }
      withName: 'fastqc'      { container = 'biocontainers/fastqc:v0.11.5_cv3' }
      withName: 'multiqc'     { container = 'ewels/multiqc:1.7' }
    }
    singularity {
      enabled = true
      envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
      cacheDir = "$NXF_HOME/singularity"
    }
    process.module = 'singularity'
  }

  zeus {
    process {
      withName: 'index|quant' { container = 'combinelab/salmon:0.13.1' }
      withName: 'fastqc'      { container = 'biocontainers/fastqc:v0.11.5_cv3' }
      withName: 'multiqc'     { container = 'ewels/multiqc:1.7' }
    }
    singularity {
      enabled = true
      envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
      cacheDir = "$NXF_HOME/singularity"
    }
    process.module = 'singularity'

    params.slurm_account = 'pawsey0001'
    process {
      executor = 'slurm'
      cpus = 1
      memory = '4GB'
      time = '5m'
      queue = 'workq'
      clusterOptions = "--account=${params.slurm_account}"
    }
  }

  nimbus {
    process {
      withName: 'index|quant' { container = 'combinelab/salmon:0.13.1' }
      withName: 'fastqc'      { container = 'biocontainers/fastqc:v0.11.5_cv3' }
      withName: 'multiqc'     { container = 'ewels/multiqc:1.7' }
    }
    docker.enabled = true
  }

}
