/*
 * Copyright (c) 2013-2019, Centre for Genomic Regulation (CRG).
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
 

process {
  withName: 'index|quant' { container = 'combinelab/salmon:0.13.1' }
  withName: 'fastqc'      { container = 'biocontainers/fastqc:v0.11.5_cv3' }
  withName: 'multiqc'     { container = 'ewels/multiqc:1.7' }
}


profiles {


  standard {
    docker.enabled = true
  }


  zeus {
    singularity.enabled = true
    singularity.runOptions = '-B $MYGROUP -B $MYSCRATCH --pwd $(pwd)'
  
    process {
      executor = 'slurm'
      cpus = 1
      time = '5m'
      queue = 'workq'
      clusterOptions = "--account=pawsey0001 --reservation=DSW"
    }
    queueSize = 96
  }


}
