profiles {

  standard {
    process.container = 'biocontainers/blast:v2.2.31_cv2'
    singularity {
      envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
      cacheDir = "$NXF_HOME/singularity"
    }
    process.module = 'singularity'
  }

  zeus {
    process.container = 'biocontainers/blast:v2.2.31_cv2'
    singularity {
      enabled = true
      envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
      cacheDir = "$NXF_HOME/singularity"
    }
    process.module = 'singularity'

    params.slurm_account = 'pawsey0001'
    process {
      executor = 'slurm'
      cpus = 1
      memory = '4GB'
      time = '5m'
      queue = 'workq'
      clusterOptions = "--account=${params.slurm_account}"
    }
  }

  nimbus {
    process.container = 'biocontainers/blast:v2.2.31_cv2'
    docker.enabled = true
  }

}
