process {
  container = 'biocontainers/blast:v2.2.31_cv2'
}

slurm_account = 'pawsey0001'
slurm_reservation = 'DSW'

profiles {

  zeus {

    singularity.enabled = true
    singularity.runOptions = '-B $MYGROUP -B $MYSCRATCH --pwd $(pwd)'

    process {
      executor = 'slurm'
      cpus = 1
      time = '5m'
      queue = 'workq'
      clusterOptions = "--account=$slurm_account"
    }
  }

  reservation {
    process.clusterOptions = "--account=$slurm_account --reservation=$slurm_reservation"
  }

}
