/*
 * Copyright (c) 2013-2019, Centre for Genomic Regulation (CRG).
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
 
process.container = 'nextflow/rnaseq-nf@sha256:e221e2511abb89a0cf8c32f6cd9b125fbfeb7f7c386a1f49299f48d7735faacd' 

singularity.enabled = true
singularity.runOptions = '-B $MYGROUP -B $MYSCRATCH --pwd $(pwd)'

process {
  executor = 'slurm'
  cpus = 1
  time = '1h'
  queue = 'workq'
  clusterOptions = "--account=pawsey0001 --reservation=DSW"
}
